<div class='welcome'>
<h1>Find a pup near you!</h1>

  <div class="form-group">
<%= bootstrap_form_tag url: results_path do |f| %>
  <%= f.search_field :search, placeholder: "Zip Code" %>
  <%= f.primary "Find my best friend!" %>
<% end %>

</div>
<br>
</div>



