<div class='welcome'>
<h1>Search for a new friend!</h1>

  <div class="form-group">
<%= bootstrap_form_tag url: results_path do |f| %>
  <%= f.search_field :search, placeholder: "Zip Code" %>
  <%= f.primary "Search" %>
<% end %>

</div>
<br>
</div>



