<%= csrf_meta_tag %>

<center>
<div class="container"><br>
<div class = "row">
<div class = "wrap">
  <div id="tinderslide">
    <ul>
         <% @dogs_db.each do |dog| %>
        <li class="pane1"><div class="img">
          <%= image_tag dog.photo%>
        </div><div>
        <span class="dog_id"><%= dog.id %></span>,
        <%= dog.name %>,
        </div><div class="like"></div><div class="dislike"></div></li>
         <% end %>
    </ul>

  </div>
   <div class = "actions">
    <a href="#" class = "dislike"><i></i></a>
    <a href="#" class = "like"><i></i></a>
  </div>

</div>

</div>
</div>

</center>

<!-- <div>
<% #@pets.each do |dog| %>
<div class="well">
  <%#= image_tag dog.photos[0].large if dog.photos[0]%><br>
  Name: <%#= dog.name %><br>

  Age: <%#= dog.age%><br>

  Breed: <%#= breeds = dog.breeds
    breeds.map(&:inspect).join(', ')%><br>

  Shelter Info: <ul>
  <li><%#= @petfinder.shelter(dog.shelter_id).name %></li>
  <li><%#= @petfinder.shelter(dog.shelter_id).email%></li>
  <li><%#= city = dog.city
  city.map(&:inspect).join(', ').chomp %></li>
  </ul>
  Size: <%#= dog.size %><br>

  Sex: <%#= dog.sex%><br>

  Description: <%#= dog.description%><br>

</div>
<% #end %>
</div> -->
