<div class="wrapper">
<div class='welcome'>
<h1> Welcome to WOOFr! </h1>
<p>WOOFr is a fun way to find a best friend for anyone.
There are a lot of sweet dogs out there that need a
 home and someone to adore.</p>

 <h3>WOOFr is easy to use!</h3>
 <p>1.) Enter in your zip code.<b>
 2.) Swipe right for potential besties.<br>
 3.) OR swipe left ifthey're just not the one.<br>
  (Or you can click on the buttons.)<br>
 4.) Go to your Buddies page to get more info<br>
 on your potential new friends.<br></p>
 <h3>Happy searching!</h3>
 <a class="btn btn-success" href="/search" role="button">Search!</a>
 <h4>I hope you find your new best friend :)</h4>
</div>
</div>