<div class='wrapper'>
<div class='welcome'>
  <h1> Welcome to WOOFr! </h1>
<p>WOOFr is a Tinder style app to find you a furry friend!<br>
There are a lot of sweet dogs out there that need a
 home and someone to adore.<br> You can be that someone!
 Start your search to adopt a dog here!</p>

 <h3>All you have to do is sign up!</h3>
 <p>Happy searching!</p>
 <a class="btn btn-success" href="/signup" role="button">Sign Up!</a>
 <h4>I hope you find your new best friend :)</h4>
</div>
</div>