<div class='welcome'><center>
<h1> Welcome to WOOFr! </h1></center>
<h4>WOOFr is a Tinder style app to find you a furry friend!<br>
There are a lot of sweet dogs out there that need a<br>
 home and someone to adore. You can be that someone!<br>
 Start your search to adopt a dog here!</h4>

 <center><h3>All you have to do is sign up!</h3></center>
 <center><h3>Happy searching!</h3>
 <a class="btn btn-success" href="/signup" role="button">Sign Up!</a>
 <h4>I hope you find your new best friend :)</h4></center>
</div>