body {
    background: white url('http://s17.postimg.org/6w1cwu0en/pbwallpaper.jpg') no-repeat fixed 50% 50%;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
.welcome {
    margin-top: 100px;
    border: white 5px solid;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}​